.docs pre {
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
  margin: 5px 0 25px 0px;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
}

.docs pre code {
  padding: 0;
  font-size: 100%;
  background: transparent;
  white-space: pre;
  border-radius: 0px;
}

/* Snippetcut styles */
.docs .snippetcut__raw {
  display: none;
}

.docs .snippetcut {
  margin-top: 10px;
}

.docs .snippetcut .snippetcut__title {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-name {
  font-size: 75%;
  font-family: monospace, monospace;
  color: #0066FF;
  white-space: nowrap;
  margin-right: auto;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-name-text {
  font-size: 75%;
  font-family: monospace, monospace;
  color: #000000;
  white-space: nowrap;
  margin-right: auto;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-btn {
  display: inline-block;
  padding: 2px 5px;
  margin-left: 5px;
  border-radius: 5px;
  text-decoration: none !important;
  font-size: 60%;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  border: 2px solid rgba(0,102,255,0.1);
  color: #939fb1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.docs .snippetcut .snippetcut__title .snippetcut__title-btn:hover {
  border: 2px solid #939fb1;
  background-color: #939fb1;
  color: white;
}

.docs .snippetcut_limited pre.highlight {
  max-height: 200px;
  display: block;
}