@import url(https://fonts.bunny.net/css?family=montserrat:400,500,700);
@import '../core/mixins.scss';

html,
body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 50px;
}

.docs pre {
  @include pre;
}

.docs  pre code {
  @include code;
}